.projects-grid {
  margin: 0.5vw;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  div {
    flex: auto;
    width: 200px;
    margin: 0.5vw;
    img {
      width: 100%;
      height: auto;
    }
  }
}

@media screen and (max-width: 400px) {
  .projects-grid {
    padding: 0;
    div {
      margin: 0;
    }
  }
}
