.projects-grid {
  margin: 0.25vw;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  div {
    flex: auto;
    width: 200px;
    margin: 0.5vw 1vw;
    padding-bottom: 1vw;
  }
  img {
    width: 100%;
    height: auto;
    margin-left: 0.5vw;
  }
  h3 {
    margin: 0;
    padding-left: 0;
  }
  p {
    margin: 0.5vw;
    color: #a5a5a5;
    font-weight: 300;
    line-height: 1.6;
    font-size: 0.9rem;
  }
}

@media screen and (max-width: 400px) {
  .projects-grid {
    padding: 0;
    div {
      margin: 0;
    }
  }
}
