.container {
  display: flex;
  height: 100%;
}

.left__div {
  background: white;
  height: 100vh;
  flex: 2;
  padding: 2rem 3rem;
  overflow: scroll;
  .title {
    margin: 2.5vw 1.5vw 0.5vw 1.5vw;
    border-right: 2px solid rgba(255, 255, 255, 0.75);
    font-size: calc(14px + (26 - 14) * ((100vw - 300px) / (1600 - 300)));
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    width: 19em;
    transform: translateY(-50%);
    font-weight: 800;
  }
  h2 {
    margin: 0.5vw 1.5vw;
  }
  h3 {
    margin: 1.5vw 1.5vw;
    font-size: calc(12px + (26 - 14) * ((100vw - 300px) / (1600 - 300)));
    font-weight: 200;
  }
  h4 {
  }
  p {
    font-size: 0.9rem;
  }
  .typewriter {
    animation: typewriter 3.5s steps(44) 1s 1 normal both,
      blinkTextCursor 600ms steps(44) infinite normal;
  }
  @keyframes typewriter {
    from {
      width: 0;
    }
    to {
      width: 18.5em;
    }
  }
  @keyframes blinkTextCursor {
    from {
      border-right-color: rgba(7, 6, 6, 0.75);
    }
    to {
      border-right-color: transparent;
    }
  }

  .skills {
    padding-top: 1.5rem;
  }

  .skillsDiv {
    display: flex;
    justify-content: space-around;
  }
}

.right__div {
  background: black;
  color: white;
  height: 100vh;
  flex: 1;
  padding: 2rem 2rem;
  overflow: hidden;
}

.projects__title {
  padding: 1rem 0;
}

@media screen and (max-width: 970px) {
  .container {
    flex-direction: column;
  }

  .left__div {
    width: auto;
    height: auto;
    h4 {
      padding: 0.5rem 0;
    }
    p {
      padding: 0.5rem 0 0.75rem 0;
    }
  }

  .right__div {
    width: auto;
    height: 500px;
  }
}
