.container {
  display: flex;
  height: 100%;
}

.left__div {
  background: whitesmoke;
  height: 100vh;
  flex: 2;
  padding: 2rem 3rem;
  overflow: scroll;
  h2 {
    margin: 0.5vw 1vw;
  }
  h3 {
    margin: 1.5vw 1vw;
  }
  h5 {
    margin: 0.5vw 1vw;
  }
}

.right__div {
  background: black;
  color: white;
  height: 100vh;
  flex: 1;
  padding: 2rem 2rem;
  overflow: hidden;
}

.projects__title {
  padding-top: 2rem;
}

@media screen and (max-width: 970px) {
  .container {
    flex-direction: column;
  }

  .left__div {
    width: auto;
    height: auto;
  }

  .right__div {
    width: auto;
    height: 500px;
  }
}
