.container {
  display: flex;
  height: 100%;
}

.left__div {
  background: whitesmoke;
  height: 100vh;
  flex: 2;
  padding: 2rem 5rem;
}

.right__div {
  background: black;
  color: white;
  height: 100vh;
  flex: 1;
  padding: 2rem 2rem;
}

.projects__title {
  padding-top: 2rem;
}
